.profile-menu {
  overflow: hidden;
  transition: flex 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  height: 100%;
  background-color: #131c21;

  &.show {
    left: 0;
  }

  .header {
    background-color: #323739;
    display: flex;
    justify-content: flex-end;
    height: 108px;
    color: #e1e1e3;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 27px;
    padding-bottom: 7px;

    .text {
      font-size: 21px;
      padding-right: 12px;
    }

    .exit-btn {
      transform: rotate(180deg);
      cursor: pointer;
    }
  }

  .change-profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    .change-profile-logo {
      padding-top: 15px;
      fill: #33393e;
      border-radius: 50%;
      transform: translateZ(0);
      display: flex;
      justify-content: center;
    }

    .change-profile-logo-img {
      padding-top: 15px;
      fill: #33393e;
      border-radius: 50%;
      transform: translateZ(0);
      display: flex;
      justify-content: center;

      &:hover {
        opacity: 0.4;
      }
    }

    .camera {
      position: absolute;
      top: 200px;
      color: white;
    }

    .info {
      position: absolute;
      color: #cbcdcf;
      top: 250px;
      text-align: center;
      width: 118px;
    }

    .input-file {
      display: flex;
      width: 0;
    }
  }

  .change-name {
    padding: 14px 30px 10px;
    border-bottom: 3px solid #11191e;
    padding-top: 50px;

    .title {
      width: 100%;
      justify-content: flex-end;
      display: flex;
      color: #0a9688;
    }

    .change-name-row {
      width: 100%;
      display: flex;
      align-items: center;
      padding-top: 10px;

      .change {
        transform: rotate(270deg);
        color: #828689;
      }

      .name {
        color: #d4d5d7;
        background: none;
        border: none;
        font-size: 15px;
        width: 100%;
        cursor: pointer;
      }

      .check {
        color: white;
        cursor: pointer;
      }
    }
  }

  .informaition {
    color: #9a9a9a;
    line-height: 20px;
    font-size: 14px;
    margin: 4px 30px 28px 20px;
    text-align: end;
    padding-top: 15px;
  }

  .change-title {
    padding: 14px 30px 10px;
    border-bottom: 3px solid #11191e;
    padding-top: 50px;

    .title {
      width: 100%;
      justify-content: flex-end;
      display: flex;
      color: #0a9688;
    }

    .change-title-row {
      width: 100%;
      display: flex;
      align-items: center;
      padding-top: 10px;

      .change {
        transform: rotate(270deg);
        color: #828689;
      }

      .title {
        color: #d4d5d7;
        background: none;
        border: none;
        font-size: 15px;
        cursor: pointer;
      }

      .check {
        color: white;
        cursor: pointer;
      }
    }
  }
}
