  
    <div class="view-dialog-panle" data-id="{{this.id}}">
        
    <div class="title-wrap">

        <div class="msg-title">New Message
        </div>

        <div class="btn-wrap">

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"/></svg>

        </div>

        <div class="btn-wrap maximize-wrap">

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize-2"><polyline points="15 3 21 3 21 9"/>
                <polyline points="9 21 3 21 3 15"/>
                <line x1="21" y1="3" x2="14" y2="10"/>
                <line x1="3" y1="21" x2="10" y2="14"/>
            </svg>    

        </div>

        <div class="btn-minimized-wrap hide">

            <svg xmlns="http://www.w3.org/2000/svg" width="24" class="feather feather-minimize-2" height="24" viewBox="0 0 24 24" fill="none" class=" minimized" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><polyline points="4 14 10 14 10 20"/><polyline points="20 10 14 10 14 4"/><line x1="14" y1="10" x2="21" y2="3"/><line x1="3" y1="21" x2="10" y2="14"/></svg>

        </div>
 
        <div class="btn-wrap">

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>

        </div>

    </div>

    <div class="info-wrap">

        <div class="email-wrap">

            <div class="to-email">{{this.email}}
            </div>

        </div>

        <div class="subject-wrap email-wrap">

            <div class="subject">{{this.mainTitle}}
            </div>

        </div>

        <div class="discription">{{this.title}}
        </div>

        <div class="options-row">

            <div class="send-wrap">

                <div class="send-btn">Send
                </div>

                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                    <polyline points="6 9 12 15 18 9">

                </polyline>
                </svg>


            </div>

            <div class="features-wrap">

                <div class="features features1">
                </div>
                
                <div class="features features2">
                </div>
                
                <div class="features features3">
                </div>

                <div class="features features4">
                </div>
            
                <div class="features features5">
                </div>
            
                <div class="features features6">
                </div>
                
                <div class="features features7">
                </div>
                
                <div class="features features8">
                </div>

            </div>

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" color="#bfaeae" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                <circle cx="12" cy="12" r="1"></circle>
                <circle cx="12" cy="5" r="1"></circle>
                <circle cx="12" cy="19" r="1"></circle>
            </svg>

            <div class="remove-bin">
            </div>


        </div>
    </div>
</div>
