.item:hover .mail-box {
  display: block;
  padding-right: 8px; }

.item:hover .time-wrap {
  display: none; }

.item:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15); }

.snooze {
  background-image: url(https://www.gstatic.com/images/icons/material/system/1x/watch_later_white_20dp.png);
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  color: black; }

.square-row {
  width: 20px;
  height: 18px;
  background-repeat: no-repeat;
  filter: opacity(0.5) drop-shadow(0 0 0 #5f6368);
  margin-left: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #000000;
  border-radius: 3px; }

.feather-check {
  display: none;
  color: white; }

.mail-box {
  display: none; }

.name-wrap {
  width: 120px;
  height: 100%;
  padding-right: 5px; }

.numbers {
  color: white;
  justify-content: flex-end;
  width: 100%;
  display: flex;
  padding-right: 15px; }

.name-title {
  font-weight: 600;
  font-size: 16px;
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 6px; }

.main-text {
  font-size: 15px;
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 700;
  padding-right: 10px; }

.main-text-wrap {
  align-items: center;
  display: flex;
  padding-right: 11px; }

.text-wrap {
  flex: 1;
  padding-right: 7px;
  color: #5f6368;
  font-size: 16px;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.time-wrap {
  padding-right: 11px; }

.item.checked {
  background-color: #c2dbff; }
  .item.checked .square-row {
    background-color: black; }
  .item.checked svg {
    display: block !important; }

.svgs-wrap {
  display: flex; }
