
<div class="inside-menu">

    <div class="main-box-wrap menu-type">

        <div class="primary-menu">

            <div class="primary-panle">

                <div class="primary-svg">
                </div>
                
                <div class="email-primary">Primary
                </div>

            </div>

        </div>

        <div class="social-menu">

            <div class="social-panle">

                <div class="social-svg">
                </div>
                
                <div class="email-social">Social
                </div>

            </div>

        </div>

        <div class="promotions-menu">

            <div class="promotions-panle">

                <div class="promotions-svg">
                </div>
                
                <div class="promotions-name">Promotions
                </div>

            </div>

        </div>

    </div>

    <div class="main-box-wrap">

        <div class="main-box">

            <div class="inbox">
            </div>

            <div class="info">inbox
            </div>

            <div class="num">4,628
            </div>

        </div>
     
        <div class="main-box">

            <div class="snoozed">
            </div>

            <div class="info">snoozed
            </div>

            <div class="num">
            </div>

        </div>

        <div class="main-box">

            <div class="important">
            </div>

            <div class="info">important
            </div>

            <div class="num">
            </div>

        </div>

    </div>

    <div class="meet-wrap">

        <div class="title">Meet
        </div>

        <div class="meeting-row">

            <div class="inbox camera">
            </div>

            <div class="info">new meeting
            </div>

        </div>

        <div class="meeting-row top">

            <div class="inbox computer">
            </div>

            <div class="info">join a meeting
            </div>

        </div>

    </div>

    <div class="Hangouts-wrap meet-wrap">

        <div class="title">Hangouts
        </div>

        <div class="account-wrap">

            <img class="browser-img" src="https://lh3.googleusercontent.com/a-/AOh14Gib4GeefjJ9oFOIZ6e1pI2ioWjlMXI8IPU0cVaooSs=s28-c-k-no">

            <div class="account">

                <div class="name">Shaul
                </div>

            </div>

        </div>


    </div>

    <div class="members">

        <div class="members-row members-row1">

            <img class="browser-img" src="https://lh3.googleusercontent.com/a-/AOh14GhkVTDbI-O3HRNjl0zoSg0oi01ceu464ZSYZTTcJw=s28-c-k-no">

            <div class="name name1">FuZe
            </div>    

        </div>

        <div class="members-row">

            <img class="browser-img" src="https://lh3.googleusercontent.com/a/AATXAJwbrJ8_E_0GenOrNPYRu4W2JuD4om6w8Yss8CV6=s28-c-k-no-mo">

            <div class="name">	
                Hadas Loostiger
            </div>    

        </div>

        <div class="members-row">

            <img class="browser-img" src="https://lh3.googleusercontent.com/a-/AOh14GhGTxnumxCGqSILgfayjyomNs-g7xPqVQXOSvnFtCk=s28-c-k-no">

            <div class="name">Noam Yagil
            </div>    

        </div>

        <div class="members-row">

            <img class="browser-img" src="https://lh3.googleusercontent.com/a-/AOh14Gh4FLf2KkkjK201RaK0ZulW1xD7HRXmuCVTTdrIDg=s28-c-k-no">

            <div class="name">Ocean
            </div>    

        </div>

        <div class="members-row">

            <img class="browser-img" src="https://lh3.googleusercontent.com/a/AATXAJzVnRZTV_vrLGjYyxD7OLRQBgzWDxLHzLkh4Tk=s28-c-k-no-mo">

            <div class="name">	
                Vena Choquette
            </div>    

        </div>

    
    </div>

</div>
