.contact-block-list {
  background-color: #131c21; }
  .contact-block-list .header {
    background-color: #00bfa5;
    color: #e1e1e3; }
  .contact-block-list .add-contact-block {
    border-bottom: 1px solid #252d32;
    background-color: #fff; }
    .contact-block-list .add-contact-block .text {
      color: #d6e2e3; }
    .contact-block-list .add-contact-block .add-contact {
      color: black; }
  .contact-block-list .block-list {
    background-color: #fff; }
  .contact-block-list .information-warp {
    background-color: #ededed; }
    .contact-block-list .information-warp .info {
      color: #777c7f; }
