
<div class="inside">


<div class="sender-input">

    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"/></svg>

    <input type="text" class="sender" placeholder="from">

</div>

<div class="send-input">

    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"/></svg>

    <input class="send" placeholder="to">

</div>

<div class="type-input">

    <input class="input-type" placeholder="type">

</div>

<div class="textarea-wrap">

    <textarea class="description">
    </textarea>

</div>



</div>
