.right .inside-right {
  background-color: #f8f9fa;
  border-bottom: 1px solid #4adf83; }
  .right .inside-right .white-phone-svg {
    display: block !important; }
  .right .inside-right .phone-svg {
    display: none; }
  .right .inside-right .info-wrap .title {
    color: #525252; }
  .right .inside-right .info-wrap .info {
    color: #888989;
    border-bottom: 1px solid #e5e5e6; }
  .right .inside-right .info-wrap .information-row .information {
    color: #888989; }
  .right .inside-right .info-wrap .information-row .mini-computer {
    color: #828689; }
