<div class="mail-list-wrap">

    <div class="container-header">

        <div class="items-wrap">

            <div class="square">

                <div class="check-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather checkAllMark">
                    <polyline points="20 6 9 17 4 12"/>
                    </svg>
                </div>

                <div class="minus-icon">

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"/></svg>

                </div>


            </div>

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
            <polyline points="6 9 12 15 18 9"/>
            </svg>
            
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" 
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather checkBoxTrash">
        <polyline points="3 6 5 6 21 6"/>
        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/>
        <line x1="10" y1="11" x2="10" y2="17"/><line x1="14" y1="11" x2="14" y2="17"/>
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather btn-important">
            <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/>
            </svg>

            <div class="important-dialog hide">

                <div class="ddl-mark-as-important">make as important
                </div>

                <div class="ddl-mark-as-not-important">make as not important
                </div>

            </div>





        </div>

        <div class="numbers">

            1-50 of 10,941

        </div>

    </div>

    <div class="mail-list">

        <div class="primary-Type">

            <div class="primary-wrap border category">

                <div class="primary-icon">
                </div>
                
                <div class="email-type">Primary</div>
            </div>

        </div>

        <div class="social-Type">

            <div class="social-wrap category">

                <div class="social-icon">
                </div>
                
                <div class="email-type-social">Social
                </div>

            </div>

        </div>

        <div class="promotions-type">

            <div class="promotions-wrap category">

                <div class="promotions-icon">
                </div>
                
                <div class="promotions-Kinds">Promotions
                </div>

            </div>

        </div>
    </div>

    <div class="items-panle">
    </div>
</div>