<div class="inside-date-picker set-potions-dialog">
    <div class="date-picker-header">
        <input type="text" value="{{sendTime}}" class="date-input">
    </div>
    <div class="date-list">
        <div class="today item"> 
            <svg class="today-icon icon" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><g fill="currentColor" fill-rule="evenodd"><path fill-rule="nonzero" d="M6 4.5h12A1.5 1.5 0 0 1 19.5 6v2.5h-15V6A1.5 1.5 0 0 1 6 4.5z" opacity=".1"></path><path fill-rule="nonzero" d="M6 4h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H6zm1 3h10a.5.5 0 1 1 0 1H7a.5.5 0 0 1 0-1z"></path><text font-family="-apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'" font-size="9" transform="translate(4 2)" font-weight="500"><tspan x="8" y="15" text-anchor="middle">19</tspan></text></g></svg>

            <div class="text">Today
            </div>

            <div class="today-date date">{{today}}
            </div>
        </div>
        <div class="tomorrow item">
            <svg class="tomorrow-icon icon" width="24" height="24" viewBox="0 0 24 24"  aria-hidden="true" focusable="false"><g fill="currentColor" fill-rule="nonzero"><path d="M12 15.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" opacity=".1"></path><path d="M9.704 17.543a.5.5 0 0 1 .27.654l-.956 2.31a.5.5 0 0 1-.924-.383l.957-2.31a.5.5 0 0 1 .653-.27zm5.245.27l.957 2.31a.5.5 0 0 1-.924.383l-.956-2.31a.5.5 0 0 1 .923-.382zM12 7.5a4.5 4.5 0 1 1 0 9 4.5 4.5 0 0 1 0-9zm-5.543 6.796a.5.5 0 0 1-.27.653l-2.31.957a.5.5 0 0 1-.383-.924l2.31-.956a.5.5 0 0 1 .653.27zm11.74-.27l2.31.956a.5.5 0 0 1-.383.924l-2.31-.957a.5.5 0 0 1 .383-.923zM12 8.5a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7zm-8.124-.406l2.31.957a.5.5 0 0 1-.383.923l-2.31-.956a.5.5 0 0 1 .383-.924zm16.9.27a.5.5 0 0 1-.27.654l-2.31.956a.5.5 0 0 1-.382-.923l2.31-.957a.5.5 0 0 1 .653.27zM9.019 3.495l.956 2.31a.5.5 0 0 1-.923.382l-.957-2.31a.5.5 0 1 1 .924-.382zm6.617-.27a.5.5 0 0 1 .271.652l-.957 2.31a.5.5 0 0 1-.923-.383l.956-2.31a.5.5 0 0 1 .653-.27z"></path></g></svg>

            <div class="text">Tomorrow
            </div>
            <div class="tomorrow-date date">{{tomorrow}}
            </div> 
        </div>
        <div class="no-date item">
            <svg class="no-date-icon icon" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="nonzero" d="M12 3a9 9 0 1 1 0 18 9 9 0 0 1 0-18zm0 1a8 8 0 1 0 0 16 8 8 0 0 0 0-16zm3.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"></path></svg>

            <div class="text">No Date
            </div>
        </div>
    </div>
    <div class="date-picker-calender">
    </div>
    <div class="add-time-warp">
        +
        Add times
    </div>
    <div class="edit-footer hide">
        <div class="time-item">
            <div class="label-time">12:04
            </div>
            <div class="close-wrap">
                <svg class="close-btn" width="18" height="16" viewBox="0 0 24 24"><path fill="gray" fill-rule="evenodd" d="M12 10.62l4.833-4.834a.976.976 0 1 1 1.381 1.38L13.381 12l4.833 4.833a.976.976 0 0 1-1.38 1.381L12 13.381l-4.833 4.833a.976.976 0 0 1-1.381-1.38L10.619 12 5.786 7.167a.976.976 0 1 1 1.38-1.381L12 10.619z"></path></svg>
            </div>
        </div>
        <div class="save-btn">Save
        </div>
    </div>
    <div class="add-time-dialog hide">
        <div class="time-features-wrap">   
            <div class="time-wrap">
            <div class="text">Time
            </div>

            <svg class="feather error-icon hide" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"/><line x1="12" y1="9" x2="12" y2="13"/><line x1="12" y1="17" x2="12.01" y2="17"/></svg>

            <input type="text" class="input-time" placeholder="eg, 14:00">
            </div>
        </div>
        <div class="footer">
            <div class="text disable add-btn">Add
            </div>
            <div class="text cancel-btn">Cancel
            </div>
        </div>
    </div>
</div>