<div class="login-dialog">
    <div class="inside">
        <div class="login title">Login
        </div>

        <div class="email title">Email
        </div>

        <div class="error-message hide">
            <img src="https://d3ptyyxy2at9ui.cloudfront.net/blank-76084e.gif" width="undefined" height="undefined" class="warning-circle">

            <div class="text">Wrong email or password.
            </div>
        </div>

        <input class="email-input" type="email">

        <div class="password title">Password
        </div>

        <input class="password-input" type="password">

        <button class="login-button">
            <span>Login</span>
        </button>
    </div>
</div>