.menu {
  height: calc(100vh - 44px);
  padding-top: 30px;
  padding-left: 35px;
  width: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  background-color: #fafafa;
  transition: width 0.2s;

  &.show {
    width: 232px;
  }

  .sysLabels {
    .sysLabelItem {
      display: flex;
      align-items: center;
      height: 100%;
      cursor: pointer;
      padding: 5px 16px 5px 5px;
      border-radius: 5px;
      font-size: 13px;
      box-sizing: border-box;
      height: 30px;

      &.inbox-wrap {
        background-color: #ececec;
      }

      .sys-icon {
        color: #246fe0;

        &.Today {
          color: #058527;
        }

        &.Upcoming {
          color: #692fc2;
        }
      }

      .text {
        padding-left: 5px;
        color: black;
        flex: 1;
      }

      .task-num {
        color: black;
      }
    }
  }

  .projects {
    padding-top: 15px;
    height: 97px;

    .projects-header {
      display: flex;
      align-items: center;

      .arrow-down-btn {
        color: #8f8f8f;
      }

      .title {
        padding-left: 10px;
        color: #333;
        font-size: 20px;
      }
    }

    .text {
      color: black;
      padding: 8px 0px 7px 26px;
      font-size: 13px;
    }
  }

  .labels {
    position: relative;
    padding-bottom: 18px;

    .labels-header {
      display: flex;
      align-items: center;

      .arrow-down-btn {
        color: #8f8f8f;
      }

      .title {
        padding-left: 10px;
        color: #333;
        font-size: 20px;
      }
    }

    .labels-list {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex: 1;

      .item {
        display: flex;
        align-items: center;
        padding: 0 22px 0 8px;
        min-height: 34px;
        border-radius: 5px;
        margin-top: 13px;

        &:hover {
          background-color: #eee;
        }

        .label-icon {
          color: #808080;
        }

        .label-name {
          padding-left: 5px;
          color: black;
          flex: 1;
        }

        .task-number {
          color: black;
        }
      }
    }
  }

  .fillter {
    position: relative;

    .fillter-header {
      display: flex;
      align-items: center;

      .arrow-down-btn {
        color: #8f8f8f;
      }

      .title {
        padding-left: 10px;
        color: #333;
        font-size: 20px;
      }
    }

    .fillter-list {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex: 1;

      .item {
        display: flex;
        align-items: center;
        padding: 0 22px 0 8px;
        min-height: 34px;
        border-radius: 5px;
        margin-top: 13px;

        &:hover {
          background-color: #eee;
        }

        .priority-btn {
          color: #808080;
        }

        .fillter-name {
          padding-left: 5px;
          color: black;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 95px;
        }
      }
    }
  }

  .title {
    flex: 1;
  }

  .add-btn {
    color: gray;
    display: none;
  }

  .menu-item:hover .add-btn {
    display: block;
    padding-right: 10px;
  }
}
