.item {
  background-color: #fff; }
  .item:hover {
    background-color: #f5f5f5; }
  .item.selected {
    background-color: #f5f5f5; }
  .item .info-wrap .title {
    color: #828689; }
  .item .info-wrap .name {
    color: black; }
  .item .time-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    flex: 1; }
    .item .time-wrap .time {
      font-size: 11px;
      color: #a2a5a7;
      padding-bottom: 13px;
      padding-left: 17px; }
  .item .bold {
    color: #00af9c; }
