.level-1 {
  padding-left: 10px;
  padding-top: 3px;
}
.level-2 {
  padding-left: 20px;
}

.task-list {
  width: 94px;
}

.hide {
  display: none;
}

.title {
  display: flex;
  align-items: center;
}
