<div class="list-wrap">
    <div class="fillter-label-header">
        <div class="inside">
            <div class="today-title">Filter & Labels
            </div>
        </div>
    </div>

    <div class="filters-section section">
        <div class="filters-header section-header">

            <svg class="toggle-hide-btn" width="24" height="24">
                <path fill="none" stroke="currentColor" d="M16 10l-4 4-4-4">
                
            </path>
            </svg>

            <svg class="toggle-hide-btn hide feather arrow-right-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="9 18 15 12 9 6"/>
            </svg>

            <div class="title">Filters
            </div>   

            <svg class="plus-btn" width="13" height="13">
    <path d="M6 6V.5a.5.5 0 0 1 1 0V6h5.5a.5.5 0 1 1 0 1H7v5.5a.5.5 0 1 1-1 0V7H.5a.5.5 0 0 1 0-1H6z" fill="currentColor" fill-rule="evenodd">

    </path>
            </svg>

        </div>
    </div>

    <div class="labels-section section">

        <div class="filters-header section-header">

            <svg class="toggle-hide-btn" width="24" height="24">
                <path fill="none" stroke="currentColor" d="M16 10l-4 4-4-4">
                
            </path>
            </svg>

            <svg class="toggle-hide-btn hide feather arrow-right-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="9 18 15 12 9 6"/>
            </svg>

            <div class="title">Labels
            </div>   

            <svg class="add-label-btn" width="13" height="13">
    <path d="M6 6V.5a.5.5 0 0 1 1 0V6h5.5a.5.5 0 1 1 0 1H7v5.5a.5.5 0 1 1-1 0V7H.5a.5.5 0 0 1 0-1H6z" fill="currentColor" fill-rule="evenodd">

    </path>
            </svg>

        </div>

        <div class="labels-list">     
        </div>
    </div>

</div>
