
<div class="header">

    <div class="text">הוספת קבוצה חדשה
    </div>

    <svg viewBox="0 0 24 24" width="24" height="24" class="exit-btn">
        <path fill="currentColor" d="M12 4l1.4 1.4L7.8 11H20v2H7.8l5.6 5.6L12 20l-8-8 8-8z"
        ></path>
    </svg>

</div>

<div class="input-wrap">

    <input type="text" class="select-contact-input" placeholder="הזן/י את שם איש הקשר">

</div>

<div class="add-contact-list">

    {{#each contacts}}
        <div class="item" data-id={{this.id}}>

            <div class="check-wrap hide">

                 <svg xmlns="http://www.w3.org/2000/svg" class="feather check" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="20 6 9 17 4 12"/>
                </svg>
            </div>
         
            <div class="info-wrap">

                <div class="name">{{this.name}}
                </div>

                <div class="title">{{this.title}}
                </div>

            </div>

            <div class="pic-wrap">

                <img class="pic" src={{this.svg}}>

            </div>

        </div>
    {{/each}} 

     <div class="accept-group-bg">

            <svg viewBox="0 0 24 24" width="24" height="24" class="add-user-btn">
            <path fill="currentColor" d="M8 17.1l-5.2-5.2-1.7 1.7 6.9 7L22.9 5.7 21.2 4 8 17.1z">
            </path>
            </svg>

    </div>

</div>
