.wrapper {
  width: 100%;
  background-color: #090e11;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  .wrapper .add-contact-block-dialog-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #090e11;
    opacity: 0.6; }
  .wrapper .inside {
    height: 96%;
    width: 1381px;
    display: flex;
    position: relative;
    z-index: 3;
    overflow: hidden; }
