.profile-menu {
  background-color: #ededed; }
  .profile-menu .header {
    color: #e1e1e3;
    background-color: #00bfa5; }
  .profile-menu .change-profile .change-profile-logo .background {
    fill: #7f8080; }
  .profile-menu .change-profile .change-profile-logo .primary {
    fill: #858585; }
  .profile-menu .change-profile .change-profile-logo-img:hover .camera {
    color: gray; }
  .profile-menu .change-profile .camera {
    color: white; }
  .profile-menu .change-profile .info {
    color: #cbcdcf; }
  .profile-menu .change-name {
    border-bottom: 3px solid #e1e1e1;
    background-color: #fff; }
    .profile-menu .change-name .title {
      color: #0a9688; }
    .profile-menu .change-name .change-name-row .change {
      color: #828689; }
    .profile-menu .change-name .change-name-row .name {
      color: black; }
    .profile-menu .change-name .change-name-row .check {
      color: #919191; }
  .profile-menu .informaition {
    color: #828282; }
  .profile-menu .change-title {
    border-bottom: 3px solid #e1e1e1;
    background-color: #fff; }
    .profile-menu .change-title .title {
      color: #0a9688; }
    .profile-menu .change-title .change-title-row .change {
      color: #828689; }
    .profile-menu .change-title .change-title-row .title {
      color: black; }
    .profile-menu .change-title .change-title-row .check {
      color: #919191; }
