
<div class="inside-menu">

    <div class="main-box-wrap menu-type">

        <div class="primary-menu">

            <div class="primary-panle">

                <div class="primary-svg">
                </div>
                
                <div class="email-primary">Primary
                </div>

            </div>

        </div>

        <div class="social-menu">

            <div class="social-panle">

                <div class="social-svg">
                </div>
                
                <div class="email-social">Social
                </div>

            </div>

        </div>

        <div class="promotions-menu">

            <div class="promotions-panle">

                <div class="promotions-svg">
                </div>
                
                <div class="promotions-name">Promotions
                </div>

            </div>

        </div>

    </div>

    <div class="main-box-wrap">

        <div class="main-box inbox-wrap">

                <div class="inbox-btn">
                </div>
                
                <div class="info">inbox
                </div>
                
                <div class="num">4
                </div>
        </div>

        <div class="main-box bin-wrap">

                <div class="bin-btn">
                </div>

                <div class="info">bin
                </div>
                
                <div class="num">
                </div>
        </div>

        <div class="main-box important-wrap">

                <div class="important-btn">
                </div>

                <div class="info">important
                </div>
                
                <div class="num">
                </div>
        </div>

        {{#each this}}
            <div class="main-box label {{this.name}}" data-id={{this.id}}>

                <div class="important-btn">
                </div>

                <div class="info">{{this.name}}
                </div>
                
                <div class="num">
                </div>
            </div>
        {{/each}}
    </div>

    <div class="members">

        <div class="members-row members-row1">

            <img class="browser-img" src="https://lh3.googleusercontent.com/a-/AOh14GhkVTDbI-O3HRNjl0zoSg0oi01ceu464ZSYZTTcJw=s28-c-k-no">

            <div class="name name1">FuZe
            </div>    

        </div>

        <div class="members-row">

            <img class="browser-img" src="https://lh3.googleusercontent.com/a/AATXAJwbrJ8_E_0GenOrNPYRu4W2JuD4om6w8Yss8CV6=s28-c-k-no-mo">

            <div class="name">	
                Hadas Loostiger
            </div>    

        </div>

        <div class="members-row">

            <img class="browser-img" src="https://lh3.googleusercontent.com/a-/AOh14GhGTxnumxCGqSILgfayjyomNs-g7xPqVQXOSvnFtCk=s28-c-k-no">

            <div class="name">Noam Yagil
            </div>    

        </div>

        <div class="members-row">

            <img class="browser-img" src="https://lh3.googleusercontent.com/a-/AOh14Gh4FLf2KkkjK201RaK0ZulW1xD7HRXmuCVTTdrIDg=s28-c-k-no">

            <div class="name">Ocean
            </div>    

        </div>

        <div class="members-row">

            <img class="browser-img" src="https://lh3.googleusercontent.com/a/AATXAJzVnRZTV_vrLGjYyxD7OLRQBgzWDxLHzLkh4Tk=s28-c-k-no-mo">

            <div class="name">	
                Vena Choquette
            </div>    

        </div>

    
    </div>

</div>
