.menu-list {
  height: 663px;
  width: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.12);
  transition: width 0.6 ease-in-out;
  background-color: #55688a; }
  .menu-list .inside-menu {
    position: absolute;
    width: 234px;
    top: 164px; }
  .menu-list .main-box-wrap {
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-transition: margin 0.15s cubic-bezier(0.4, 0, 0.2, 1), padding 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    transition: margin 0.15s cubic-bezier(0.4, 0, 0.2, 1), padding 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    padding-left: 13px;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.12); }
  .menu-list .main-box {
    display: flex;
    height: 100%;
    width: 193px;
    padding: 6 0; }
  .menu-list .inbox {
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/inbox_white_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    height: 20px;
    width: 20px;
    opacity: 0.7; }
  .menu-list .feather-trash-2 {
    color: #ccd1dc; }
  .menu-list .important {
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/label_important_white_20dp.png);
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    opacity: 0.7; }
  .menu-list .info {
    color: white;
    padding-left: 17px;
    flex: 1; }
  .menu-list .num {
    color: white; }
  .menu-list .title {
    -webkit-font-smoothing: antialiased;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    letter-spacing: 0.25px;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: white;
    font-weight: 500;
    line-height: 32px;
    max-height: 32px; }
  .menu-list .meet-wrap {
    width: 100%;
    padding-left: 16px;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.12);
    height: 97px; }
  .menu-list .meeting-row {
    display: flex; }
  .menu-list .camera {
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/videocam_white_20dp.png); }
  .menu-list .computer {
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/keyboard_white_20dp.png); }
  .menu-list .top {
    padding-top: 8px; }
  .menu-list .browser-img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    height: 28px;
    width: 28px; }
  .menu-list .hangouts-wrap {
    padding-top: 7px;
    height: 69px; }
  .menu-list .account-wrap {
    display: flex;
    align-items: center; }
  .menu-list .name {
    font-size: 13px;
    padding-left: 5px;
    color: white; }
  .menu-list .members {
    padding-top: 0px;
    height: 297px;
    padding-left: 14px;
    width: 100%;
    padding-left: 16px; }
  .menu-list .members-row {
    display: flex;
    align-items: center;
    padding-top: 10px; }
  .menu-list .numbers {
    color: white;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 26px; }
  .menu-list .refresh-btn {
    fill: #eef0f3;
    width: 20px;
    padding-right: 6px;
    padding-left: 13px; }
  .menu-list .items-wrap {
    display: flex;
    align-items: center; }
  .menu-list .feather-chevron-down {
    width: 19px;
    height: 14px;
    color: #eef0f3;
    display: flex; }
  .menu-list .btn-menu-wrap {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    top: 37px;
    right: 29px;
    z-index: 6; }
  .menu-list .primary-svg {
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/inbox_gm_googlered600_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-bottom: 9px;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1); }
  .menu-list .email-primary {
    color: white;
    font-size: 14px; }
  .menu-list .primary-panle {
    display: flex;
    align-items: center; }
  .menu-list .social-panle {
    display: flex;
    align-items: center; }
  .menu-list .social-svg {
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/people_black_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-bottom: 9px;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1); }
  .menu-list .email-social {
    color: white;
    font-size: 14px; }
  .menu-list .promotions-panle {
    display: flex;
    align-items: center; }
  .menu-list .promotions-name {
    color: white;
    font-size: 14px; }
  .menu-list .promotions-svg {
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/local_offer_black_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-bottom: 9px;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1); }
  .menu-list .menu-type {
    display: none; }
