<div class="menu">
    <div class="features-menu">
    </div>
    <div class="workspace-menu">
    </div>
</div>
<div class="container">

    <div class="header">
    </div>

    <div class="item-list">
    </div>

</div>