.change-new-profile-pic-wrap {
  .change-new-profile-pic {
    .header {
      background-color: #00bfa5;
      color: #e1e1e3;
    }

    .close-btn {
      color: #b2ece4;
    }
  }

  .pic-wrap {
    background: #262d31;
  }

  .bottom {
    background-color: #e6e6e6 !important;

    .mark-wrap {
      background-color: #00af9c;

      .mark-btn {
        color: #f1f1f2;
      }
    }
  }
}
