<div class="inside-item-list">
    <div class="group-list">
    </div>

    <div class="add-new-group-btn-wrap">
        <div class="info-wrap">
            <div class="text">+ Add new group
            </div>
        </div>
        <div class="underline">
        </div>
    </div>
</div>
