.task-list {
  position: relative;
  height: 930px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  flex: 1;

  .inside-task-list {
    .task-list-header {
      display: flex;
      justify-content: center;

      .inside {
        width: 800px;
        display: flex;
        align-items: center;
        padding-top: 32px;
        justify-content: center;

        .title {
          font-size: 20px;
          font-weight: 700;
          line-height: 25px;
          flex: 1;
        }

        .comments-wrap {
          display: flex;
          align-items: center;
          padding-right: 9px;

          .comments-btn {
            color: gray;
          }

          .comments-count {
            font-size: 12px;
            margin-left: 3px;
            margin-right: 6px;
            word-break: normal;
            color: gray;
          }
        }

        .view-options-menu {
          display: flex;
          align-items: center;
          padding-right: 9px;

          .options-btn {
            color: gray;
          }

          .view {
            font-size: 12px;
            margin-left: 3px;
            margin-right: 6px;
            word-break: normal;
            color: gray;
          }
        }

        .settings-wrap {
          display: flex;
          align-items: center;
          cursor: pointer;

          .settings-btn {
            color: gray;
          }
        }

        .settings-menu {
          background-color: #fff;
          border-radius: 3px;
          border: 1px solid #ddd;
          box-shadow: 0 1px 8px 0 #00000014;
          margin: 0;
          right: 381px;
          padding: 4px 0;
          position: absolute;
          top: 60px;
          width: 250px;
          z-index: 10;

          .item {
            border-top: 1px solid #ddd;
            padding: 4px 10px;
            width: 100%;
            height: 32px;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover {
              background-color: #f3f3f3;
            }

            .icon {
              height: 24px;
              width: 24px;
              color: grey;
              margin-right: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .text {
              font-size: 13px;
              color: black;
            }
          }
        }
      }
    }

    .inbox-task-list-body {
      flex-direction: column;
      overflow: hidden auto;
      width: 800px;
      display: flex;
    }

    .completed-task-list {
      flex-direction: column;
      width: 662px;
      display: flex;
      align-items: center;
      color: gray;
    }
  }

  .task-list-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 662px;

    .add-task-wrap {
      display: flex;
      align-items: center;
      padding-top: 6px;
      cursor: pointer;
      justify-content: flex-start;

      &:hover .add-task-icon {
        color: #fff;
        background-color: #3d3d3d;
      }

      .add-task-icon {
        border-radius: 50%;
        height: 19px;
        width: 19px;
        margin-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        .add-task-btn {
          margin-top: -2px;
        }
      }

      .text {
        color: gray;
        font-size: 14px;
      }
    }
  }

  .section-add-line {
    display: flex;
    align-items: center;
    flex: 0;
    height: 24px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    padding-top: 23px;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    position: relative;

    &:hover {
      opacity: 1;
    }

    &::before {
      background-color: #3d3d3d;
      margin-right: 10px;
      content: "";
      display: block;
      height: 1px;
      flex: 1 1 auto;
      opacity: 0.5;
    }

    &::after {
      background-color: #3d3d3d;
      margin-left: 10px;
      content: "";
      display: block;
      height: 1px;
      flex: 1 1 auto;
      opacity: 0.5;
    }
  }

  .completed-tasks-title {
    display: flex;
    align-items: center;
    flex: 0;
    height: 24px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    padding-top: 23px;
    position: absolute;
    position: relative;

    &:hover {
      opacity: 1;
    }

    &::before {
      background-color: #3d3d3d;
      margin-right: 10px;
      content: "";
      display: block;
      height: 1px;
      flex: 1 1 auto;
      opacity: 0.5;
    }

    &::after {
      background-color: #3d3d3d;
      margin-left: 10px;
      content: "";
      display: block;
      height: 1px;
      flex: 1 1 auto;
      opacity: 0.5;
    }
  }

  .add-section-wrap {
    margin-bottom: 1em;
    width: 100%;
    padding-top: 24px;

    .add-section-input {
      box-sizing: border-box;
      width: 100%;
      height: 38px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 14px;
      line-height: 30px;
      outline: 0;
      color: black;
      padding: 0 8px;
      cursor: text;

      &::placeholder {
        color: gray;
        opacity: 0.6;
      }
    }

    .footer {
      display: flex;
      width: 100%;
      margin-top: 10px;
      color: #555;
      align-items: center;

      .add-section-btn {
        margin-right: 5px;
        color: #fff;
        display: flex;
        border-radius: 3px;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        width: 100px;
        height: 32px;
        background-color: black;

        &.disable {
          background-color: #c5c5c5;
          pointer-events: none;
        }
      }

      .add-section-cancel-btn {
        color: #555;
        cursor: pointer;
        font-size: 13px;
        padding: 2px 5px;
        text-decoration: none;
        white-space: nowrap;
      }
    }
  }

  .empty-state-wrap {
    position: relative;
    max-width: 360px;
    margin: auto;
    text-align: center;
    transition: opacity 0.17s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;

    .empty-state-icon-wrap {
      margin: auto;
      width: 220px;
      height: 200px;
    }

    .empty-state-text {
      font-size: 15px;
      color: #202020;
      margin: 8px 0;
    }

    .empty-state-desc {
      color: #777;
      font-size: 12px;
    }
  }
}
