.add-contact-item {
  background-color: #fff; }
  .add-contact-item .header {
    background-color: #00bfa5;
    color: #e1e1e3; }
  .add-contact-item .group-pic {
    background-color: white; }
    .add-contact-item .group-pic .camera {
      color: white; }
    .add-contact-item .group-pic .info {
      color: #cbcdcf; }
    .add-contact-item .group-pic .background {
      fill: #7f8080; }
    .add-contact-item .group-pic .primary {
      fill: #858585; }
  .add-contact-item .add-contact .change-name-row {
    border-bottom: 3px solid #00bfa5; }
    .add-contact-item .add-contact .change-name-row .accept-group-bg {
      background-color: #00af9c; }
      .add-contact-item .add-contact .change-name-row .accept-group-bg .add-user-btn {
        color: white; }
    .add-contact-item .add-contact .change-name-row .emoji-btn {
      color: #4a5152; }
    .add-contact-item .add-contact .change-name-row .remaining-length {
      color: #4a5152; }
    .add-contact-item .add-contact .change-name-row .add-contact-input {
      color: black; }
    .add-contact-item .add-contact .change-name-row .group-type {
      color: #7b8783; }
