@media only screen and (max-width: 600px) {
  .wrapper .inside {
    height: 100%; }
    .wrapper .inside .right {
      display: none; }
    .wrapper .inside .left .header .three-dots {
      padding-right: 8px;
      height: 18px;
      color: #fff; }
    .wrapper .inside .left .header .search-btn {
      color: #fff; }
    .wrapper .inside .left .header .text {
      color: #fff; }
    .wrapper .inside .left .categories {
      display: flex;
      align-items: center;
      height: 44px;
      width: 100%;
      justify-content: center; }
      .wrapper .inside .left .categories .chats-wrap {
        display: flex;
        width: 96px;
        border-bottom: 1px solid white;
        justify-content: center; }
      .wrapper .inside .left .categories .chats {
        color: #fff; }
      .wrapper .inside .left .categories .status-wrap {
        display: flex;
        width: 96px;
        justify-content: center; }
        .wrapper .inside .left .categories .status-wrap .status {
          color: #fff; }
      .wrapper .inside .left .categories .calls {
        display: flex;
        width: 96px;
        justify-content: center; }
        .wrapper .inside .left .categories .calls .call {
          color: #fff; }
      .wrapper .inside .left .categories .camera {
        fill: #b4d9d2;
        padding-left: 36px; }
    .wrapper .inside .left .item:hover {
      background-color: #121a1f; }
    .wrapper .inside .message-wrap {
      display: flex;
      height: 100%;
      flex-direction: column;
      width: 100%;
      position: absolute;
      overflow: hidden;
      top: 0; }
      .wrapper .inside .message-wrap .header .phone {
        fill: #fff;
        stroke: transparent;
        padding-right: 13px;
        padding-left: 10px;
        height: 20px; }
      .wrapper .inside .message-wrap .header .video {
        stroke: transparent;
        fill: white; }
      .wrapper .inside .message-wrap .header .three-dots {
        color: #fff; }
      .wrapper .inside .message-wrap .header .pic {
        margin-right: 0; }
      .wrapper .inside .message-wrap .header .back-arrow {
        padding-right: 21px;
        color: #fff; } }
