
<div class="header">

    <div class="text">בחירת ערכת נושא
    </div>

    <svg viewBox="0 0 24 24" width="24" height="24" class="exit-btn">
        <path fill="currentColor" d="M12 4l1.4 1.4L7.8 11H20v2H7.8l5.6 5.6L12 20l-8-8 8-8z"
        ></path>
    </svg>

</div>

<div class="options-list">

    <div class="options-item light">

        <div class="text">בהיר
        </div>

        <input type="radio" name="theme" class="circle-btn white">

    </div>

    <div class="options-item dark">

        <div class="text">כהה
        </div>

        <input type="radio" name="theme" class="circle-btn dark">


    </div>

</div>

<div class="bottom">

    <div class="accept-wrap">

        <svg viewBox="0 0 30 30" width="30" height="30" class="accept-btn">
            <path fill="currentColor" d="M9.9 21.25l-6.7-6.7-2.2 2.2 8.9 8.9L29 6.55l-2.2-2.2-16.9 16.9z">

            </path>
        </svg>

    </div>

</div>