<div class="item-wrap">

    <div class="title {{#if isTaskListEmpty}}bold{{/if}}">{{date}} - {{day}}
    </div>

    <div class="day-task-list">
    </div>

    <div class="add-task-wrap">
            <div class="add-task-icon">
                <svg width="13" class="add-task-btn" height="13">
                    <path d="M6 6V.5a.5.5 0 0 1 1 0V6h5.5a.5.5 0 1 1 0 1H7v5.5a.5.5 0 1 1-1 0V7H.5a.5.5 0 0 1 0-1H6z" fill="currentColor" fill-rule="evenodd">
        
                </path>
                </svg>    
            </div>

            <div class="text">Add task
            </div>
    </div>

</div>