.select-contacts {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  height: 100%;
  background-color: #131c21; }
  .select-contacts.show {
    left: 0; }
  .select-contacts .header {
    background-color: #323739;
    display: flex;
    justify-content: flex-end;
    height: 108px;
    color: #e1e1e3;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 27px;
    padding-bottom: 7px; }
    .select-contacts .header .text {
      font-size: 21px;
      padding-right: 12px; }
    .select-contacts .header .exit-btn {
      transform: rotate(180deg);
      cursor: pointer; }
  .select-contacts .input-wrap {
    box-sizing: border-box;
    padding: 27px 34 0 34; }
    .select-contacts .input-wrap .select-contact-input {
      width: 100%;
      background: none;
      border: none;
      justify-content: flex-end;
      display: flex;
      direction: rtl;
      font-size: 15px;
      border-bottom: 1px solid #3b4247;
      padding-bottom: 6px;
      outline: none;
      color: #afd5cc; }
  .select-contacts .item:hover {
    background-color: #121a1f; }
  .select-contacts .item.selected {
    background-color: #2d3134; }
  .select-contacts .item .check-wrap {
    flex: 1;
    height: 100%;
    align-items: center;
    display: flex; }
    .select-contacts .item .check-wrap .check {
      color: #fff;
      padding-left: 12px; }
  .select-contacts .accept-group-bg {
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    font-size: 14px;
    border-radius: 50%;
    background-color: #00af9c;
    position: absolute;
    bottom: 27px;
    left: -100%;
    transition: all 0.3s ease-in-out; }
    .select-contacts .accept-group-bg.show {
      left: 45%;
      display: flex !important; }
    .select-contacts .accept-group-bg .add-user-btn {
      color: white; }
