.select-contacts {
  background-color: #ededed; }
  .select-contacts .header {
    background-color: #00bfa5;
    color: #e1e1e3; }
  .select-contacts .input-wrap {
    box-sizing: border-box;
    padding: 27px 34 0 34;
    background-color: #ffffff; }
    .select-contacts .input-wrap .select-contact-input {
      border-bottom: 1px solid #3b4247;
      color: black; }
  .select-contacts .item:hover {
    background-color: #f5f5f5; }
  .select-contacts .item.selected {
    background-color: #f5f5f5; }
  .select-contacts .item .check-wrap .check {
    color: #fff; }
  .select-contacts .accept-group-bg {
    background-color: #00af9c; }
    .select-contacts .accept-group-bg .add-user-btn {
      color: white; }
