.message-wrap-container .message-panle .item-wrap .type {
  color: #dcf8c6; }
  .message-wrap-container .message-panle .item-wrap .type.sender {
    color: #ffffff; }

.message-wrap-container .message-panle .item-wrap .message-item-wrap .message-item {
  background-color: #dcf8c6; }
  .message-wrap-container .message-panle .item-wrap .message-item-wrap .message-item .text {
    color: black; }
  .message-wrap-container .message-panle .item-wrap .message-item-wrap .message-item .info-wrap .check {
    color: #4fc3f7; }
  .message-wrap-container .message-panle .item-wrap .message-item-wrap .message-item .info-wrap .time {
    color: black; }
  .message-wrap-container .message-panle .item-wrap .message-item-wrap .message-item.sender {
    background-color: #ffffff; }
