.search-message-panle {
  width: 30%;
  height: 100%;
  border-right: 1px solid #404447;
  position: relative; }
  .search-message-panle .header {
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    background-color: #2a2f32;
    display: flex;
    justify-content: flex-end;
    height: 59px;
    align-items: center;
    padding: 30px; }
    .search-message-panle .header .text {
      font-size: 19px;
      color: #fff;
      padding-right: 11px; }
    .search-message-panle .header .exit-btn {
      color: #7d8184;
      width: 20px;
      height: 20px;
      margin-top: 4px; }
  .search-message-panle .search-input-message-wrap {
    width: 100%;
    height: 49px;
    background-color: #1e2528;
    display: flex;
    justify-content: center;
    align-items: center; }
    .search-message-panle .search-input-message-wrap .inside-message-input {
      background-color: #323739;
      width: 392px;
      border-radius: 18px;
      height: 35px;
      display: flex;
      align-items: center; }
      .search-message-panle .search-input-message-wrap .inside-message-input .search-input-message {
        width: 327px;
        height: 100%;
        background: none;
        border: none;
        border-radius: 10px;
        direction: rtl;
        color: white;
        outline: none; }
      .search-message-panle .search-input-message-wrap .inside-message-input .search-btn {
        right: 24;
        position: absolute;
        color: #828689;
        cursor: pointer; }
  .search-message-panle .search-message-list {
    background-color: #131c21;
    flex: 1;
    flex-direction: column;
    display: flex;
    height: 100%; }
