.task-list {
  position: relative;
  height: 930px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  flex: 1;

  .inside-task-list {
    .task-list-header {
      width: 800px;

      .view-date-picker-wrap {
        display: flex;
        flex: 1;

        .upcoming-title {
          font-size: 20px;
          font-weight: 600;
        }

        .down-arrow-btn-wrap {
          color: gray;

          .down-arrow-btn {
            width: 16px;
            padding-left: 2px;
          }
        }
      }
    }

    .task-list-name {
      font-size: 13px;
      font-weight: 700;
      margin-left: 14px;

      &.overdue {
        padding-top: 17px;
      }
    }

    .overdue-section {
      margin-bottom: 60px;
    }

    .yesterday-task-list-body {
      height: 51px;
      width: 800px;
    }

    .today-task-list-body {
      flex-direction: column;
      width: 800px;
      display: flex;
    }
  }
}
