@media only screen and (max-width: 500px) {
  body {
    .welcome-page {
      .container {
        height: 744px !important;
        .description {
          flex-direction: column-reverse;
          height: auto !important;
          .lighthouse {
            padding-left: 51px;
            height: 287px !important;
          }
          .info-wrap {
            .info {
              font-size: 71px !important;
            }
            .title {
              text-align: center;
            }
          }
        }
        .bottom-arrow-wrap {
          padding-top: 15px;
        }
      }
    }

    .projects-page {
      padding-top: 91px;

      .header {
        .text {
          font-size: 9.125vw !important;
        }
      }

      .container {
        .project-wrap {
          width: 330px !important;
          height: 351px !important;

          .project-link {
            width: 231px !important;
            height: 193px !important;
          }
        }
      }
    }

    .about-me {
      .text-col {
        .title {
          font-size: 11.125vw !important;
          padding-bottom: 5px;
        }
        .info {
          padding-top: 14px;
          width: 355px !important;
          font-size: 19px !important;
        }
      }
    }

    .arrow-up-wrap {
      width: 13vw !important;
      height: 13vw !important;
    }
  }
}
