<div class="sign-up-dialog">
    <div class="inside">
        <div class="sign-up title">Sign up
        </div>

        <div class="email title">Email
        </div>

        <div class="error-message hide">
            <img src="https://d3ptyyxy2at9ui.cloudfront.net/blank-76084e.gif" width="undefined" height="undefined" class="warning-circle">

            <div class="text">Email does not exsist
            </div>
        </div>

        <input class="email-input" type="email">

        <div class="password title">Password
        </div>

        <input class="password-input" type="password">

        <button class="sign-up-button">
            <span>Sign up with Email</span>
        </button>
    </div>
</div>