.board-list {
  margin-left: 12px;
  margin-right: 8px;

  .item {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
    height: 34px;
    width: 226px;
    align-items: center;
    box-sizing: border-box;
    padding: 0 8px;

    &.selected {
      background-color: #cce5ff !important;
    }

    &:hover {
      background-color: #e6e9ef;
    }

    .icon {
      color: #323338;
    }

    .text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border: 1px solid transparent;
      margin-left: 6px;
    }
  }
}
