.main {
  .header {
    background-color: #3d3d3d;
    height: 45px;
    padding-left: 42px;
    padding-right: 42px;

    .items-row {
      display: flex;
      align-items: center;
      color: #fff;
      height: 42px;

      .features {
        display: flex;
        align-items: center;
        margin-left: -2px;
        margin-right: 9px;
        display: flex;
        align-items: center;
        width: 28px;
        height: 28px;
        border-radius: 3px;
        justify-content: center;

        &.task-goal-wrap {
          height: 32px;
          width: 64px;
          font-size: 12px;
          font-weight: 400;

          .goal-btn {
            padding-right: 8px;
            padding-right: 3px;
            margin-top: -2px;
          }
        }

        &:hover {
          background-color: #646464;
        }

        .features-btn {
          width: 24px;

          .add-task-btn {
            margin-top: 1px;
          }
        }
      }

      .logo {
        border: 2px solid transparent;
        box-sizing: content-box;
        height: 28px;
        width: 28px;
        border-radius: 50%;
      }

      .input-wrap {
        flex: 1;
        display: flex;
        align-items: center;

        .inside {
          background-color: #ffffff33;
          border-radius: 3px;
          width: 210px;
          height: 29px;
          display: flex;
          align-items: center;
          position: relative;

          &:hover {
            background-color: #fff;
          }

          &:hover .open-search-input-btn {
            opacity: 1;
          }

          &:hover .search-btn {
            color: #202020;
          }

          &:hover .search-input::placeholder {
            color: #202020;
          }

          .search-input {
            background: none;
            border: none;
            outline: none;
            color: #202020;
            display: flex;
            align-items: center;
            font-family: "Roboto", sans-serif;
            flex: 1;

            &::placeholder {
              color: rgb(255, 246, 246);
            }
          }

          .search-btn {
            height: 21px;
            padding-left: 4px;
            margin-top: -2px;
          }

          .open-search-input-btn {
            box-sizing: border-box;
            width: 18px;
            height: 18px;
            border-radius: 2px;
            border: 1px solid gray;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
            position: absolute;
            color: gray;
            right: 10px;
            opacity: 0;
          }
        }
      }

      .input-wrap {
        .inside {
          &.search-input-click {
            width: 450px;
            background-color: #fff;

            .search-btn {
              color: #202020;
            }

            .search-input::placeholder {
              color: #202020;
            }

            .open-search-input-btn {
              display: none;
            }
          }
        }
      }
    }
  }
}
