<div class="section-item" data-id="{{section.id}}">

    <div class="section-item-header {{#if isNotSection}}hide{{/if}}">

        <div class="toggle-btn-wrap">

            <svg class="feather feather-down toggle-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="6 9 12 15 18 9">

            </polyline>
            </svg>

            <svg class="feather hide feather-right toggle-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="9 18 15 12 9 6"></polyline>
            </svg>

        </div>

        <div class="name">{{section.name}}
        </div>

        <div class="section-list-length {{#if isSectionListLengthUnderZero}}hide{{/if}}">{{sectionListLength}}
        </div>

        <svg class="settings-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
       <g fill="none" stroke="currentColor" stroke-linecap="round" transform="translate(3 10)">
           <circle cx="2" cy="2" r="2">
               
           </circle>
           <circle cx="9" cy="2" r="2">

           </circle>
           <circle cx="16" cy="2" r="2">

           </circle>
           </g>
        </svg>

    </div>

    <div class="section-task-list">
    </div>
    
    <div class="new-editor-wrap hide">
    </div>

    <div class="task-list-footer">

        <div class="add-task-wrap">
            <div class="add-task-icon">
                <svg width="13" class="add-task-btn" height="13">
                    <path d="M6 6V.5a.5.5 0 0 1 1 0V6h5.5a.5.5 0 1 1 0 1H7v5.5a.5.5 0 1 1-1 0V7H.5a.5.5 0 0 1 0-1H6z" fill="currentColor" fill-rule="evenodd">
        
                </path>
                </svg>    
            </div>

            <div class="text">Add task
            </div>
        </div>

    </div>

    <div class="completed-task-list">
    </div>

    <div type="button" class="section-add-line">Add section
    </div>

    <div class="add-section-wrap hide">

        <input type="text" placeholder="Name this section" class="add-section-input">

        <div class="footer">

            <div class="add-section-btn disable">Add section
            </div>

            <div class="add-section-cancel-btn">Cancel
            </div>
        
        </div>

    </div>
</div>