<div class="wrapper">

    <div class="add-contact-block-dialog-wrap hide">
    </div>

    <div class="inside">

        <div class="search-message-panle hide">            
        </div>

        <div class="contact-info">            
        </div>

        <div class="message-wrap hide">
        </div>

        <div class="right">
        </div>

        <div class="left">
        </div>

        <div class="add-contact-block-dialog">
        </div>

        <div class="change-new-profile-pic-wrap">
        </div>

        <div class="choose-theme-dialog">
        </div>
      
    </div>

</div>