<div class="header">

    <div class="text">New Label
    </div>

    <div class="close-btn-wrap">

        <svg xmlns="http://www.w3.org/2000/svg" class="feather close-btn" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" >
   <line x1="18" y1="6" x2="6" y2="18"/>
   <line x1="6" y1="6" x2="18" y2="18"/>
        </svg>

    </div>

</div>

<div class="title">Please enter a new label name:
</div>

<input type="text" class="new-lable-input">

<div class="bottom">

    <div class="create-btn">Create
    </div>

</div>