.add-contact-block-dialog {
  overflow: hidden;
  transition: flex 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  height: 100%;
  background-color: #131c21;
  width: 436px;
  z-index: 4;
  height: 355px; }
  .add-contact-block-dialog.show {
    left: 34%;
    top: 25%; }
  .add-contact-block-dialog .header {
    background-color: #323739;
    padding: 0 25px 0 20px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex: none;
    justify-content: flex-end;
    align-items: center;
    height: 59px; }
    .add-contact-block-dialog .header .text {
      color: #e1e1e3; }
    .add-contact-block-dialog .header .close-btn {
      color: #606465;
      margin-top: 4px;
      padding-left: 8px; }
  .add-contact-block-dialog .list {
    background-color: #131c21;
    height: 100%; }
    .add-contact-block-dialog .list .item {
      background-color: #131c21;
      border-bottom: 1px solid #30383c; }
      .add-contact-block-dialog .list .item:hover {
        background-color: #2d3134; }
      .add-contact-block-dialog .list .item .info-wrap {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        padding-right: 7px;
        direction: rtl; }
        .add-contact-block-dialog .list .item .info-wrap .name {
          color: white; }
        .add-contact-block-dialog .list .item .info-wrap .title {
          display: flex;
          justify-content: flex-end;
          color: #a2a5a7; }
      .add-contact-block-dialog .list .item .pic-wrap {
        height: 100%;
        display: flex;
        align-items: center; }
        .add-contact-block-dialog .list .item .pic-wrap .pic {
          width: 50px;
          height: 50px;
          border-radius: 37px;
          margin-right: 9px; }
