.group-warp {
  padding-bottom: 40px;
  padding-top: 18px;
  padding-left: 16px;
  position: relative;

  .group-header {
    display: flex;
    align-items: center;
    width: 100%;

    .bottom-arrow-btn-wrap {
      position: absolute;
      left: 11px;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      border: 1px solid #ffcb00;
      transition: color 0.1s ease, background-color 0.1s ease, opacity 0.1s ease;
      background-color: #ffcb00;

      &.active {
        background-color: #c9e1fb;
        border: 1px solid #c9e1fb;
        color: black;

        .bottom-arrow-btn {
          color: #4774e7;
        }
      }

      .bottom-arrow-btn {
        color: white;
      }
    }

    .group-name-wrapper {
      width: 435px;
      padding-left: 17px;

      .group-name-wrap {
        display: flex;
        align-items: center;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;

        .group-name {
          color: #ffcb00;
          display: flex;
          align-items: center;
          padding: 5px;
          border: none;
          outline: none;
          font-size: 18px;

          &:hover {
            cursor: text;
            border: 1px dashed;
            border-color: #c5c7d0;
          }

          &:focus {
            width: 100%;
            cursor: text;
            border: 1px dashed #c5c7d0;
          }
        }
      }
    }

    .features-items-row {
      display: flex;
      align-items: center;

      .features-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;

        .title {
          font-size: 14px;
          color: #323338;
          font-family: "Roboto", sans-serif;
        }
      }

      .sub-item-wrap {
        width: 75px;
      }

      .status-item-wrap {
        width: 140px;
      }

      .members-item-wrap {
        width: 98px;
      }

      .date-item-wrap {
        width: 140px;
      }

      .timeline-items-wrap {
        width: 188px;
      }

      .progress-tracking-item-wrap {
        width: 140px;
      }
    }

    .add-col-btn-wrap {
      width: 18px;
      height: 18px;
      border: 1px solid black;
      border-radius: 50%;
      display: flex;
      align-items: center;
      margin-left: 10px;
      justify-content: center;
    }
  }

  .group-settings-dialog {
    width: 264px;
    transition: all 50ms ease-in;
    transition-property: opacity, width;
    position: absolute;
    height: 108px;
    border-radius: 8px;
    color: #323338;
    box-shadow: 0 4px 17px 6px #0000001a;
    background-color: #fff;
    z-index: 2;
    top: 49px;
    left: 14px;

    .inside {
      padding: 6px;

      .grou-settings-item {
        padding: 4px 8px;
        border-radius: 4px;
        color: #323338;
        font-weight: 400;
        cursor: pointer;
        display: flex;
        font-size: 14px;
        align-items: center;
        font-family: "Roboto", sans-serif;

        &:hover {
          background-color: #e6e9ef;
        }

        .group-settings-icon {
          color: #676879;
          margin-right: 8px;
          width: 16px;
          height: 24px;
        }
      }
    }
  }

  .add-item-btn-warp {
    margin-left: 16px;
    display: flex;
    height: 36px;
    line-height: 36px;
    margin-right: 40px;
    cursor: pointer;
    border-right: 8px solid #e6e9ef;
    align-items: center;

    .item-info {
      display: flex;
      width: 100%;
      align-items: center;
      font-family: "Roboto", sans-serif;
      height: 100%;
      border: 1px solid #e6e9ef;

      .left-line {
        background-color: #ffcb00;
        width: 8px;
        height: 100%;
      }

      .add-item-name {
        font-size: 14px;
        font-weight: 400;
        height: 100%;
        outline: none;
        border: none;
        width: 1414px;
        color: #767575;
        text-align: left;
        padding: 2px 0px 3px 6px;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        &:focus {
          border: 1px solid #0073ea;

          .item-info {
            .add-item-btn {
              border: 100px solid black;
            }
          }
        }
      }

      .add-item-btn {
        transition: opacity 0.1s ease;
        color: #fff;
        padding: 0 12px;
        box-sizing: border-box;
        border-right: 1px solid;
        border-right-color: #fff;
        background-color: #0073ea;

        &.disable {
          background-color: #bbb;
          pointer-events: none;
        }
      }
    }
  }

  .total-items-features {
    width: 1217px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    height: 36px;

    .total-progress-tracking-item-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;

      .total-progress-tracking-item-wrap {
        width: 140px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .total-progress-warp {
          height: 22px;
          line-height: 22px;
          border-radius: 2px;
          border: 2px solid;
          border-color: #258750;
          overflow: hidden;
          flex: 1 1 auto;
          margin-left: 8px;
          margin-right: 8px;

          .total-progress-row {
            float: left;
            height: 100%;
            background-color: #258750;
            transition: 0.3s all ease-in-out;
            width: 0;
          }
        }

        .total-progress-percent {
          width: 40px;
          color: #666;
          flex: 0 0 30px;
          margin-right: 8px;
          text-align: right;
          font-size: 13px;
          font-family: "Roboto", sans-serif;
        }
      }
    }

    .status-warp {
      width: 1392px;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .status-color-row {
        width: 139px;
        display: flex;
        height: 100%;
        align-items: center;

        .status-color {
          height: 24px;

          &.working {
            background-color: #fdab3d;
          }

          &.stack {
            background-color: #e2445c;
          }

          &.done {
            background-color: #00c875;
          }

          &.none {
            background-color: #c4c4c4;
          }
        }
      }
    }
  }
}
