<div class="warp">
    <div class="popper">
    </div>
    <div class="inside">
    <div class="status-item working {{#if isStatusWorking}}selected{{/if}}">
        <div class="title">Working on it
        </div>
    </div>  
    <div class="status-item stuck {{#if isStatusStack}}selected{{/if}}">
        <div class="title">Stuck
        </div>
    </div>  
    <div class="status-item done {{#if isStatusDone}}selected{{/if}}">
        <div class="title">Done
        </div>
    </div> 
    <div class="status-item none {{#if isStatusNone}}selected{{/if}}" style="height: 36px;"> 
    </div> 
    <div class="arrow-top-icon">
    </div>
    </div>
</div>
