.search-message-item {
  flex-direction: column;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #131c21;
  border-top: 1px solid #30383c;
  height: 72px; }
  .search-message-item:hover {
    background-color: #2d3134; }
  .search-message-item .message-content {
    color: #a2a5a7;
    display: flex; }
  .search-message-item .time {
    color: #a2a5a7; }
  .search-message-item .bold {
    color: #00af9c; }
