<div class="group-item">
    <div class="item-wrap">
    </div>
    <div class="sub-item-list-warp {{#if isItemNotHaveChildren}}hide{{/if}}">
        <div class="group-header">
            <div class="group-name-wrap">
                <div class="group-name">SubItems
                </div>
            </div>
            <div class="features-items-row">
                <div class="status-item-wrap features-item">
                    <div class="title">Status
                    </div>
                </div>
                <div class="members-item-wrap features-item">
                    <div class="title">Person
                    </div>
                </div>
                <div class="date-item-wrap features-item">
                    <div class="title">Date
                    </div>
                </div>
                <div class="timeline-items-wrap features-item">
                    <div class="title">Timeline
                    </div>
                </div>
                <div class="progress-tracking-item-wrap features-item">
                    <div class="title">Progress Tracking
                    </div>
                </div>
                <div class="add-col-btn-wrap">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="feather add-col-btn"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                </div>
            </div>
        </div>
        <div class="sub-item-list">
        </div>
        <div class="add-sub-item-btn-warp">
            <div class="item-info">
                <div class="left-line">
                </div>
                <input type="text" class="add-sub-item-name" placeholder="+ Add sub item">
                <div class="add-sub-item-btn disable hide">Add
                </div>
            </div>
        </div>
    </div>
</div>