<div class="change-new-profile-pic">

    <div class="header">

        <div class="text">גרור/י את התמונה על מנת להתאים
        </div>

       <svg viewBox="0 0 24 24" width="24" height="24" class="close-btn">
           <path fill="currentColor" d="M19.1 17.2l-5.3-5.3 5.3-5.3-1.8-1.8-5.3 5.4-5.3-5.3-1.8 1.7 5.3 5.3-5.3 5.3L6.7 19l5.3-5.3 5.3 5.3 1.8-1.8z">

           </path>
        </svg>

    </div>

    <div class="pic-wrap">
    </div>

    <div class="bottom">

        <div class="mark-wrap">

            <svg viewBox="0 0 30 30" width="30" height="30" class="mark-btn">
                <path fill="currentColor" d="M9.9 21.25l-6.7-6.7-2.2 2.2 8.9 8.9L29 6.55l-2.2-2.2-16.9 16.9z">

                </path>
            </svg>

        </div>

    </div>
</div>
