
<div class="header">

    <div class="text">הגדרת רקע לצ'אט
    </div>

    <svg viewBox="0 0 24 24" width="24" height="24" class="exit-btn">
        <path fill="currentColor" d="M12 4l1.4 1.4L7.8 11H20v2H7.8l5.6 5.6L12 20l-8-8 8-8z"
        ></path>
    </svg>

</div>

<div class="add-Chat-Background">

    <div class="text">WhatsApp הוסף/י שרבוטי 
    </div>

    <div class="square">

        <svg xmlns="http://www.w3.org/2000/svg" class="check-mark hide" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check">
        <polyline points="20 6 9 17 4 12"/>
        </svg>
    </div>

</div>

<div class="change-background-color">

    <div class="color green">
    </div>

    <div class="color brown">
    </div>

    <div class="color normal">
    </div>


</div>