.chat-Background {
  background-color: #ededed; }
  .chat-Background .header {
    background-color: #00bfa5;
    color: #e1e1e3; }
  .chat-Background .add-Chat-Background .text {
    color: #96a29d; }
  .chat-Background .add-Chat-Background .square {
    border: 1px solid #a4a7a9; }
    .chat-Background .add-Chat-Background .square.check-bg {
      background-color: #00af9c; }
    .chat-Background .add-Chat-Background .square .check-mark {
      color: white; }
  .chat-Background .change-background-color .color.green {
    background-color: #12261f; }
  .chat-Background .change-background-color .color.brown {
    background-color: #212a5c; }
  .chat-Background .change-background-color .color.normal {
    background-color: #0d1418; }
  .chat-Background .change-background-color .color:hover {
    border: 4px solid #75787a; }
