.chat-Background {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  height: 100%;
  background-color: #131c21; }
  .chat-Background.show {
    left: 0; }
  .chat-Background .header {
    background-color: #323739;
    display: flex;
    justify-content: flex-end;
    height: 108px;
    color: #e1e1e3;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 27px;
    padding-bottom: 7px; }
    .chat-Background .header .text {
      font-size: 21px;
      padding-right: 12px; }
    .chat-Background .header .exit-btn {
      transform: rotate(180deg);
      cursor: pointer; }
  .chat-Background .add-Chat-Background {
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 30px;
    display: flex;
    justify-content: center; }
    .chat-Background .add-Chat-Background .text {
      font-size: 13px;
      line-height: 20px;
      color: #96a29d; }
    .chat-Background .add-Chat-Background .square {
      width: 18px;
      height: 18px;
      border: 1px solid #a4a7a9;
      margin-left: 6px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center; }
      .chat-Background .add-Chat-Background .square.check-bg {
        background-color: #00af9c; }
      .chat-Background .add-Chat-Background .square .check-mark {
        color: #131c21; }
  .chat-Background .change-background-color {
    display: flex;
    padding-top: 12px;
    justify-content: center; }
    .chat-Background .change-background-color .color {
      width: 82px;
      height: 82px;
      margin-left: 20px;
      cursor: pointer; }
      .chat-Background .change-background-color .color.green {
        background-color: #12261f; }
      .chat-Background .change-background-color .color.brown {
        background-color: #212a5c; }
      .chat-Background .change-background-color .color.normal {
        background-color: #0d1418; }
      .chat-Background .change-background-color .color:hover {
        border: 4px solid #75787a; }
