<div class="header">
</div>

<div class="container">

    <div class="menu show">
    </div>
    
    <div class="task-list">

        <div class="inside-task-list">
        </div>

    </div>

    <div class="project-dialog">
    </div>

    <div class="create-new-label-dialog">
    </div>

</div>

<div class="bg-shadow-wrap hide">
</div>

<div class="loader">
   <div class="lds-facebook"><div></div><div></div><div></div></div>
</div>


