<div class="header">
</div>

<div class="container">

    <div class="menu show">
    </div>
    
    <div class="task-list">

        <div class="inside-task-list">
        </div>

    </div>

    <div class="create-new-label-dialog">
    </div>

</div>

<div class="bg-shadow-wrap hide">
</div>

<div class="view-task-dialog hide">
</div>

<div class="label-dialog">
</div>

<div class="filter-dialog">
</div>

<div class="delete-dialog hide">
</div>