.task-list {
  position: relative;
  height: 930px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  flex: 1;

  .inside-task-list {
    .task-list-header {
      display: flex;
      justify-content: center;

      .inside {
        width: 800px;
        display: flex;
        align-items: center;
        padding-top: 32px;
        justify-content: center;

        .today-title {
          font-size: 20px;
          font-weight: 700;
          line-height: 25px;
        }

        .day-title {
          color: grey;
          margin-left: 6px;
          font-size: 12px;
          font-weight: 400;
          flex: 1;
        }

        .comments-wrap {
          display: flex;
          align-items: center;
          padding-right: 9px;

          .comments-btn {
            color: gray;
          }

          .comments-count {
            font-size: 12px;
            margin-left: 3px;
            margin-right: 6px;
            word-break: normal;
            color: gray;
          }
        }

        .view-options-menu {
          display: flex;
          align-items: center;
          padding-right: 9px;

          .options-btn {
            color: gray;
          }

          .view {
            font-size: 12px;
            margin-left: 3px;
            margin-right: 6px;
            word-break: normal;
            color: gray;
          }
        }

        .settings-wrap {
          display: flex;
          align-items: center;

          .settings-btn {
            color: gray;
          }
        }
      }
    }

    .task-list-name {
      font-size: 13px;
      font-weight: 700;
      margin-left: 14px;

      &.overdue {
        padding-top: 17px;
      }
    }

    .overdue-section {
      margin-bottom: 70px;
    }

    .yesterday-task-list-body {
      height: 51px;
      width: 800px;
    }

    .yesterday-task-list-body {
      flex-direction: column;
      width: 800px;
      display: flex;
    }
  }
}
