<div class="wrap">
    <div class="popper">
    </div>
    <div class="inside-date-dialog">
    <div class="date-dialog-header">
        <div class="title">Today
        </div>
    </div>
    <div class="date-picker-calender">
    </div>
    <div class="add-time-row">
        <div class="text">Add time
        </div>
        <div class="toggle-time-btn">
            <div class="toggle-ball">
            </div>
        </div>
        <div class="time-wrapper hide">
            <div class="time-wrap">
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round" class="clock-icon"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
        
                <input type="text" class="time-input" placeholder="12:00">
            </div>
        </div>
    </div>
    </div>
</div>
