.choose-theme-dialog {
  overflow: hidden;
  transition: flex 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  height: 100%;
  background-color: #3b4042;
  width: 400px;
  z-index: 4;
  height: 216px;
  border-radius: 14px; }
  .choose-theme-dialog.show {
    left: 35%;
    top: 36%; }
  .choose-theme-dialog .header {
    padding: 0 25px 0 20px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex: none;
    justify-content: flex-end;
    align-items: center;
    height: 59px; }
    .choose-theme-dialog .header .text {
      color: #e1e1e3;
      padding-right: 6px;
      font-size: 19px; }
    .choose-theme-dialog .header .exit-btn {
      color: #606465;
      margin-top: 4px;
      transform: rotate(180deg); }
  .choose-theme-dialog .options-list {
    padding-right: 25px;
    height: 78px;
    display: flex;
    flex-direction: column;
    padding-top: 4px; }
    .choose-theme-dialog .options-list .options-item {
      background-color: #3b4042;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 27px; }
      .choose-theme-dialog .options-list .options-item .text {
        color: white;
        cursor: pointer; }
      .choose-theme-dialog .options-list .options-item .circle-btn {
        width: 13px;
        height: 13px;
        fill: #ffffff;
        padding-left: 7px;
        cursor: pointer;
        border-radius: 50%; }
  .choose-theme-dialog .bottom {
    display: flex;
    justify-content: center; }
    .choose-theme-dialog .bottom .accept-wrap {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #00af9c;
      display: flex;
      justify-content: center;
      align-items: center; }
      .choose-theme-dialog .bottom .accept-wrap .accept-btn {
        color: #f1f1f2; }
