.container {
  .item {
    width: 100%;
    height: 54px;
    align-items: center;
    display: flex;
    box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.13);
  }

  .item:hover .mail-box {
    display: block;
    padding-right: 8px;
  }

  .item:hover .time-wrap {
    display: none;
  }

  .item:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
      0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  }

  .snooze {
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/watch_later_white_20dp.png);
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    color: black;
  }

  .mail-box {
    display: none;
  }

  .name-wrap {
    width: 120px;
    height: 100%;
  }

  .numbers {
    color: white;
    justify-content: flex-end;
    width: 100%;
    display: flex;
    padding-right: 15px;
  }

  .name-title {
    font-weight: 600;
    font-size: 16px;
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 6px;
  }

  .main-text {
    font-size: 15px;
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 700;
  }

  .text {
    color: #5f6368;
    font-size: 16px;
  }

  .main-text-wrap {
    align-items: center;
    display: flex;
    padding-right: 11px;
  }

  .text-wrap {
    flex: 1;
  }

  .time-wrap {
    padding-right: 11px;
  }

  .refresh-btn {
    fill: #eef0f3;
    width: 20px;
    padding-right: 6px;
    padding-left: 13px;
  }

  .items-wrap {
    display: flex;
    align-items: center;
  }

  .feather-chevron-down {
    width: 19px;
    height: 14px;
    color: #eef0f3;
    display: flex;
  }

  .mail-list-wrap {
    background-color: #ebeced;
    flex: 1;
  }

  .container-header {
    padding-left: 18px;
    display: flex;
    background-color: #55688a;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 8px;
  }

  .primary-type {
    display: flex;
    height: 47px;
  }

  .social-Type {
    display: flex;
    height: 47px;
    padding-left: 10px;
  }

  .primary-wrap {
    display: flex;
    height: 100%;
    width: 225px;
    border-bottom: 3px solid red;
    margin-left: 9px;
    align-items: flex-end;
  }

  .primary-icon {
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/inbox_gm_googlered600_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-bottom: 9px;
  }

  .social-icon {
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/people_black_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-bottom: 9px;
    filter: opacity(0.5) drop-shadow(0 0 0 #5f6368);
  }

  .promotions-icon {
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/local_offer_black_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-bottom: 9px;
    filter: opacity(0.5) drop-shadow(0 0 0 #5f6368);
  }

  .promotions-type {
    padding-left: 7px;
    color: #5f6368;
    height: 47px;
  }

  .email-type {
    color: red;
    padding-left: 7px;
    padding-bottom: 6px;
  }

  .mail-list {
    background-color: rgba(255, 255, 255, 0.902);
    box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.12);
    width: 100%;
    display: flex;
    height: 57px;
  }

  .email-type-social {
    padding-top: 26px;
    padding-left: 7px;
    color: #5f6368;
  }

  .promotions-kinds {
    padding-top: 26px;
    padding-left: 7px;
    color: #5f6368;
  }

  .promotions-wrap {
    display: flex;
    height: 100%;
    width: 225px;
    margin-left: 9px;
    align-items: flex-end;
  }

  .social-wrap {
    display: flex;
    height: 100%;
    width: 225px;
    margin-left: 9px;
    align-items: flex-end;
  }

  .email-type-social {
    padding-left: 7px;
    padding-bottom: 6px;
  }

  .square-row {
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/check_box_outline_blank_black_20dp.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    filter: opacity(0.5) drop-shadow(0 0 0 #5f6368);
    margin-left: 13px;
  }

  .star {
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/star_border_black_20dp.png);
    width: 20px;
    height: 20px;
    filter: opacity(0.5) drop-shadow(0 0 0 #5f6368);
    background-repeat: no-repeat;
    margin-left: 7px;

    &.on {
      filter: opacity(0.5) drop-shadow(0 0 0 red);
    }
  }

  .arrow {
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/label_important_outline_black_20dp.png);
    width: 20px;
    height: 20px;
    filter: opacity(0.5) drop-shadow(0 0 0 #5f6368);
    background-repeat: no-repeat;
    margin-left: 5px;
  }

  .mail-star-wrap {
    display: flex;
    justify-content: flex-end;
  }

  .compose-add-wrap {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 1px 3px 1px a(60, 64, 67, 0.15);
    -webkit-font-smoothing: antialiased;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial,
      sans-serif;
    font-size: 0.875rem;
    cursor: pointer;
    letter-spacing: 0.25px;
    margin-top: 8px;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    background-image: none;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    color: #3c4043;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    font-weight: 500;
    height: 48px;
    min-width: 56px;
    overflow: hidden;
    padding: 0 24px 0 0;
    text-transform: none;
    display: none;
    position: fixed;
    left: 0;
  }

  .plus-btn::before {
    background-image: url(https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    content: "";
    display: block;
    height: 48px;
    min-width: 56px;
  }

  .feather-more-vertical {
    color: white;
  }
}
