<div class="mail-list-wrap">

    <div class="container-header">

        <div class="items-wrap">

            <div class="square">
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"/></svg>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="refresh-btn">
                <path class="" d="M 254.08789 32.990234 C 252.88276 33.022434 251.67258 33.273281 250.51758 33.753906 C 246.82058 35.290906 244.39742 38.883719 244.35742 42.886719 L 243.99219 79.376953 C 195.12399 82.255793 149.49558 102.70372 114.60938 137.56836 C 77.347375 174.80736 56.535766 224.33158 56.009766 277.01758 C 54.908766 387.29158 143.72991 477.90386 254.00391 479.00586 C 254.68391 479.01186 255.35325 479.01562 256.03125 479.01562 C 365.38325 479.01062 454.89623 390.60672 455.99023 281.01172 C 456.11723 268.32672 455.03258 255.56975 452.76758 243.09375 C 451.91158 238.37475 447.8253 234.92886 443.0293 234.88086 L 381.40039 234.26367 C 378.22839 234.21467 375.28609 235.67992 373.37109 238.16992 C 371.45709 240.65992 370.82411 243.90464 371.66211 246.93164 C 374.64911 257.72264 376.10614 268.91889 375.99414 280.21289 C 375.33614 345.97389 321.63553 399.01862 256.01953 399.01562 C 255.61653 399.01562 255.20673 399.01377 254.80273 399.00977 C 188.63773 398.34877 135.34486 343.98141 136.00586 277.81641 C 136.6231 216.0175 182.91167 165.97499 243.19141 159.69336 L 242.75977 202.87891 C 242.72077 206.74691 244.91744 210.28956 248.39844 211.97656 C 249.78444 212.64856 251.27481 212.97852 252.75781 212.97852 C 254.99781 212.97852 257.2202 212.22562 259.0332 210.76562 L 349.76758 137.66797 C 351.99558 135.87397 353.34642 133.21052 353.48242 130.35352 C 353.61742 127.49552 352.52361 124.7177 350.47461 122.7207 L 261.33789 35.826172 C 259.36752 33.905297 256.73919 32.919395 254.08789 32.990234 z M 264.12109 66.472656 L 328.4375 129.16797 L 262.9707 181.91016 L 263.29688 149.14844 L 263.41992 136.92383 L 263.89648 89.134766 C 263.89657 89.126238 263.89447 89.1179 263.89453 89.109375 L 264.12109 66.472656 z M 243.79297 99.435547 L 243.73047 105.76562 L 243.39062 139.57812 C 210.55363 142.50012 180.02513 156.80617 156.57812 180.45117 C 130.78113 206.46617 116.37186 240.97223 116.00586 277.61523 C 115.23586 354.80823 177.40856 418.23681 254.60156 419.00781 C 291.95556 419.34781 327.295 405.17019 354 378.99219 C 380.705 352.81519 395.61723 317.80611 395.99023 280.41211 C 396.07823 271.65611 395.35694 262.94567 393.83594 254.38867 L 434.37305 254.79492 C 435.53405 263.41292 436.07623 272.1295 435.99023 280.8125 C 435.00523 379.4535 354.45134 459.01562 256.02734 459.01562 C 255.42334 459.01562 254.80617 459.01186 254.20117 459.00586 C 154.95417 458.01486 75.016813 376.4638 76.007812 277.2168 C 76.944812 183.4328 151.29897 105.73255 243.79297 99.435547 z">

            </path>
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" color="#bfaeae" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                <circle cx="12" cy="12" r="1"></circle>
                <circle cx="12" cy="5" r="1"></circle>
                <circle cx="12" cy="19" r="1"></circle>
                </svg>

        </div>

        <div class="numbers">

            1-50 of 10,941

        </div>

    </div>

    <div class="mail-list">

        <div class="primary-Type">

            <div class="primary-wrap">

                <div class="primary-icon">
                </div>
                
                <div class="email-type">Primary
                </div>

            </div>

        </div>

        <div class="social-Type">

            <div class="social-wrap">

                <div class="social-icon">
                </div>
                
                <div class="email-type-social">Social
                </div>

            </div>

        </div>

        <div class="promotions-type">

            <div class="promotions-wrap">

                <div class="promotions-icon">
                </div>
                
                <div class="promotions-Kinds">Promotions
                </div>

            </div>

        </div>
    </div>


    {{#each items}}
    <div class="item-wrap">
        
        <div class="item" data-id="{{this.id}}" onclick="onItemClick()">

            <div class="square-row">
            </div>

            {{#if this.isImportant}}
                <div class="star on"></div>
            {{else}}
                <div class="star"></div>
            {{/if}} 


            <div class="arrow">
            </div>

            <div class="name-wrap">

                <div class="name-title">Quora לקט
                </div>

            </div>

            <div class="main-text-wrap">

                <div class="mail-star-wrap">

                    <div class="mail-star">
                    </div>

                </div>

                <div class="main-text">
                    ?מדוע מי הברז בארצנו אינם ראויים לשתייה
                </div>

            </div>

            <div class="text-wrap">

                <div class="text">fgjrfdjgkejrkgjdkjytgkoreyutjtyrty
                </div>       
            
            </div>

            <div class="time-wrap">

                <div class="time">12
                </div>

            </div>

            <div class="mail-box">

                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-archive"><polyline points="21 8 21 21 3 21 3 8"/><rect x="1" y="3" width="22" height="5"/><line x1="10" y1="12" x2="14" y2="12"/></svg>

            </div>

            <div class="mail-box">

                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"/><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/><line x1="10" y1="11" x2="10" y2="17"/><line x1="14" y1="11" x2="14" y2="17"/></svg>

            </div>

            <div class="mail-box">

                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-inbox"><polyline points="22 12 16 12 14 15 10 15 8 12 2 12"/><path d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"/></svg>

            </div>

            <div class="mail-box">


              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather snooze feather-clock"><circle cx="12" cy="12" r="10"/><polyline points="12 6 12 12 16 14"/></svg>
            </div>

        </div>

    </div>
        
    {{/each}}
</div>