.header-wrap {
  width: 100%;
  display: flex;
  height: 75px;
  border-bottom: none;
  align-items: center; }
  .header-wrap .logo {
    padding-right: 87px;
    padding-left: 20px;
    height: 41px; }
  .header-wrap .gb_Pe {
    height: 30px;
    padding-right: 15px;
    width: 40px;
    fill: white; }
  .header-wrap .t7 {
    padding-right: 14px;
    fill: white; }
  .header-wrap .xy {
    padding-right: 18px;
    fill: white; }
  .header-wrap .inputs-wrap {
    flex: 1;
    padding-right: 15px; }
  .header-wrap .google-logo {
    padding-right: 20px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    height: 41px; }
  .header-wrap .inside {
    border: 1px solid transparent;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    max-width: 720px;
    position: relative;
    background: rgba(241, 243, 244, 0.24);
    height: 48px;
    display: flex;
    align-items: center; }
  .header-wrap .search-btn {
    fill: white;
    padding-right: 10px;
    padding-left: 14px; }
  .header-wrap .input {
    flex: 1;
    background: none;
    border: none;
    color: white;
    outline: none;
    height: 100%; }
  .header-wrap .input::placeholder {
    color: white;
    font-size: 15px; }
  .header-wrap .settings {
    fill: white;
    padding-right: 10px; }
  .header-wrap .items-wrap {
    display: flex;
    align-items: center; }
  .header-wrap .threeRows {
    cursor: pointer;
    height: 40px;
    width: 40px;
    fill: #ccd1dc;
    display: none;
    padding-right: 15px; }
  .header-wrap .plus-btn::before {
    background-image: url(https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    content: "";
    display: block;
    height: 48px;
    min-width: 56px; }
  .header-wrap .compose-wrap {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px a(60, 64, 67, 0.15);
    -webkit-font-smoothing: antialiased;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    cursor: pointer;
    letter-spacing: 0.25px;
    margin-top: 8px;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    background-image: none;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    color: #3c4043;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    font-weight: 500;
    height: 48px;
    min-width: 56px;
    overflow: hidden;
    padding: 0 24px 0 0;
    text-transform: none;
    position: fixed;
    top: 99px;
    left: 16px;
    z-index: 5; }
