<div class="popper-overlay">
    <div class="label-contant set-potions-dialog">
        <div class="add-new-label-header">
            <input class="label-header-input-text" type="text" placeholder="Type a label">
        </div>
        <div class="labels-list">
        </div>
        <div class="labels-items-empty">
            <div class="inside-label-items-empty-error hide">
                <div class="text">Label not found
                </div>
                <div class="add-new-label-text">
                    <svg xmlns="http://www.w3.org/2000/svg" class="add-btn" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="nonzero" d="M12.5 6a.5.5 0 0 1 .5.5V12h5.5a.5.5 0 1 1 0 1H13v5.5a.5.5 0 1 1-1 0V13H6.5a.5.5 0 1 1 0-1H12V6.5a.5.5 0 0 1 .5-.5z"></path></svg>

                    <div class="input-label-name">
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
